<!DOCTYPE html>
<html>
<head>
    {% include ('basic/head.twig') %}
</head>
<body>
    {% include ('basic/header.twig') %}

    <div class="main-content js-main-content">
        {% include ('page/' ~ page ~ '.twig') %}
    </div>

    {% include ('basic/footer.twig') %}
</body>
</html>